.issueBox{
    display: none;
}

@media screen and (min-width: 1200px) {
    .issueBox{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: 1.2rem;
    }
    
    .issueBox > * + *{
        margin-top: 10px;
    }

    .issueTab{
        color: #251d20;
        font-weight: 500;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .issueTab:hover{
        border-bottom: 1px solid #000000;
    }

    .issueBtn--active{
        font-weight: 900;
    }
    
}