
.intro_text {
  padding: 0.5rem;
  scroll-snap-align: start;
  color: #251d20;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.copyright{
  text-align: center;
  margin: 0rem 0;
  font-size: 0.8rem;
  color: #251d20;
}

.copyright a{
  color: #251d20;
  
}

.privacy_policy{
  margin: 1rem 0;
  text-align: center;
}

.privacy_policy a{
  color: #251d20;
  font-weight: 700;

}

.email_link{
  margin: 3rem 0;
  margin-bottom: 4rem;
  text-align: center;
}

.email_link a{
  color: #251d20;
  font-weight: 700;
  
}

@media screen and (min-width:1200px){

  
  .intro_text{
    margin: 0 1rem;
    text-align: left;
    max-width: 300px;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .copyright, .privacy_policy{
    text-align: left;
  }

  .email_link{
    position: fixed;
    top: -2rem;
    right: 1rem;
    font-size: 1.2rem;
  }
}