

.container {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.image {
  /* height: 320px; */
  /* max-width: 400px; */
  width: 270px;
}

.sub_container {
  margin-top: 3px;
  color: #251d20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub_container > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.buy_btn {
  font-size: 1rem;
  color: #ffffff;
  background: none;
  border: none;
  font-weight: 700;
}

.text {
  font-weight: 700;
  max-width: 300px;
  text-align: center;
  line-height: 20px;
}

.selected__text {
  color: #ffffff;
  font-size: 1.1rem;
}



@media screen and (min-width:400px){
  .image{
    width: 400px;
  }
}


@media screen and (min-width:1200px){
  .text{
    max-width: none;
  }
}

@media screen and (max-width:900px) {
  @media (orientation: landscape) {
  .container{
    height: auto;
  }
  
}
}
