* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #00c1b5;
}

.logo{
  padding: 1rem;
}

.logo img{
    width: 150px;
}


@media screen and (min-width:1200px){
  .wrapper{
    position: relative;
  }

  .logo img{
    width: 250px;
  }
}